<div class="article_vert">
  <h2>Template License</h2>
  <p><big><strong>Lorem ipsum dolor</strong></big></p>
  <img src="images/img1.jpg" width="287" height="97" alt="img" />
  <p>This is a free CSS website template by <a href="http://www.bluewebtemplates.com/" title="Website Templates">BlueWebTemplates.com</a>. This
work is distributed under the <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a>,
which means that you are free to use it for any personal or commercial purpose provided you credit me in the form of a link back to
<a href="http://www.bluewebtemplates.com/" title="Website Templates">BlueWebTemplates.com</a>.</p>
  <p><a href="#" class="red">Read more</a> | <a href="#">Comments (24)</a> | March 16, 2015</p>
</div>
