<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Design by http://www.bluewebtemplates.com
Released for free under a Creative Commons Attribution 3.0 License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>xRest Blog Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="style.css" rel="stylesheet" type="text/css" />
<!-- CuFon: Enables smooth pretty custom font rendering. 100% SEO friendly. To disable, remove this section -->
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/arial.js"></script>
<script type="text/javascript" src="js/cuf_run.js"></script>
<!-- CuFon ends -->
</head>
<body>
<div class="main">

  <div class="header">
    <div class="header_resize">
      <div class="logo"><h1><a href="index.html"><small>xRest for Express</small><br /><span>Blog</span> Example</a></h1></div>
      <div class="menu_nav">
        <ul>
<%- partial('links') %>
        </ul>
      </div>
      <div class="clr"></div>
    </div>
  </div>

  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
<%- body %>

        <div class="article_vert">
          <h2>Template License</h2>
          <p><big><strong>Lorem ipsum dolor</strong></big></p>
          <img src="images/img1.jpg" width="287" height="97" alt="img" />
          <p>This is a free CSS website template by <a href="http://www.bluewebtemplates.com/" title="Website Templates">BlueWebTemplates.com</a>. This
work is distributed under the <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a>,
which means that you are free to use it for any personal or commercial purpose provided you credit me in the form of a link back to
<a href="http://www.bluewebtemplates.com/" title="Website Templates">BlueWebTemplates.com</a>.</p>
          <p><a href="#" class="red">Read more</a> | <a href="#">Comments (24)</a> | March 16, 2015</p>
        </div>
        <div class="article_vert">
          <h2>Lorem Ipsum Dolor Sit</h2>
          <p><big><strong>Lorem ipsum dolor</strong></big></p>
          <img src="images/img2.jpg" width="287" height="97" alt="img" />
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. <a href="#">Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu posuere nunc justo tempus leo.</a> Donec mattis, purus nec placerat bibendum, dui pede condimentum odio, ac blandit ante orci ut diam. Cras fringilla magna.</p>
          <p><a href="#" class="red">Read more</a> | <a href="#">Comments (2)</a> | March 15, 2015</p>
        </div>
        <div class="clr"></div>
        <div class="article_vert">
          <h2>Contrary to popular belief</h2>
          <p><big><strong>Lorem ipsum dolor</strong></big></p>
          <img src="images/img3.jpg" width="287" height="97" alt="img" />
          <p><a href="#">Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</a><br />
            Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of &quot;de Finibus Bonorum et Malorum&quot; (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, &quot;Lorem ipsum dolor sit amet..&quot;, comes from a line in section 1.10.32.</p>
          <p><a href="#" class="red">Read more</a> | <a href="#">Comments (5)</a> | March 14, 2015</p>
        </div>
        <div class="article_vert">
          <h2>Template License</h2>
          <p><big><strong>Lorem ipsum dolor</strong></big></p>
          <img src="images/img4.jpg" width="287" height="97" alt="img" />
          <p>This is a free CSS website template by <a href="http://www.bluewebtemplates.com/" title="Website Templates">BlueWebTemplates.com</a>. This
work is distributed under the <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a>,
which means that you are free to use it for any personal or commercial purpose provided you credit me in the form of a link back to
<a href="http://www.bluewebtemplates.com/" title="Website Templates">BlueWebTemplates.com</a>.</p>
          <p><a href="#" class="red">Read more</a> | <a href="#">Comments (8)</a> | March 16, 2015</p>
        </div>
        <div class="clr"></div>
      </div>
      <div class="sidebar">
        <div class="gadget">
          <h2 class="star">Sidebar Menu</h2>
          <ul class="sb_menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">TemplateInfo</a></li>
            <li><a href="#">Style Demo</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Archives</a></li>
            <li><a href="http://www.dreamtemplate.com">Website Templates</a></li>
          </ul>
        </div>
        <div class="gadget">
          <h2 class="star">Sponsors</h2>
          <ul class="ex_menu">
            <li><a href="http://www.dreamtemplate.com" title="Website Templates">DreamTemplate</a><br />Over 6,000+ Premium Web Templates</li>
            <li><a href="http://www.templatesold.com" title="WordPress Themes">TemplateSOLD</a><br />Premium WordPress &amp; Joomla Themes</li>
            <li><a href="http://www.imhosted.com" title="Affordable Hosting">ImHosted.com</a><br />Affordable Web Hosting Provider</li>
            <li><a href="http://www.dreamstock.com" title="Stock Photos">DreamStock</a><br />Download Amazing Stock Photos</li>
            <li><a href="http://www.evrsoft.com" title="Website Builder">Evrsoft</a><br />Website Builder Software &amp; Tools</li>
            <li><a href="http://www.myvectorstore.com" title="Stock Icons">MyVectorStore</a><br />Royalty Free Stock Icons</li>
          </ul>
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>

  <div class="fbg">
    <div class="fbg_resize">
      <div class="col c1">
        <h2>Image Gallery</h2>
        <a href="#"><img src="images/pix1.jpg" width="66" height="66" alt="ad" class="ad" /></a>
        <a href="#"><img src="images/pix2.jpg" width="66" height="66" alt="ad" class="ad" /></a>
        <a href="#"><img src="images/pix3.jpg" width="66" height="66" alt="ad" class="ad" /></a>
        <a href="#"><img src="images/pix4.jpg" width="66" height="66" alt="ad" class="ad" /></a>
        <a href="#"><img src="images/pix5.jpg" width="66" height="66" alt="ad" class="ad" /></a>
        <a href="#"><img src="images/pix6.jpg" width="66" height="66" alt="ad" class="ad" /></a>
        <div class="clr"></div>
      </div>
      <div class="col c2">
        <h2>About</h2>
        <img src="images/white.jpg" width="66" height="66" alt="pix" />
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius.<br />
          llorem, eu posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum odio, ac blandit ante orci ut diam.<br />
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna.<br />
          <a href="#">Learn more...</a></p>
      </div>
      <div class="col c3">
        <h2>Contact</h2>
        <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat.</p>
        <p><strong>Phone:</strong> +1234567<br />
          <strong>Address:</strong> 123 TemplateAccess Rd<br />
          <strong>E-mail:</strong> <a href="mailto:info@example.com">info@example.com</a></p>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="footer">
    <div class="footer_resize">
      <ul class="fmenu">
<%- partial('links') %>
      </ul>
      <p class="lf">&copy; Copyright MyWebSite. Designed by Blue <a href="http://www.bluewebtemplates.com">Website Templates</a></p>
      <div class="clr"></div>
    </div>
  </div>
</div>
</body>
</html>
