<li{% if page.url == '/index.html' %} class="active"{% endif %}
    ><a href="./index.html">About</a></li>
<li{% if page.url == '/features.html' %} class="active"{% endif %}
    ><a href="./guide.html">Features</a></li>
<li{% if page.url == '/guide.html' %} class="active"{% endif %}
    ><a href="./guide.html">Guide</a></li>
<li{% if page.url == '/install.html' %} class="active"{% endif %}
    ><a href="./install.html">Install</a></li>
<li{% if page.url == '/api' %} class="active"{% endif %}
    ><a href="./api/">API</a></li>
<li><a href="https://github.com/laurie71/express-rest">Source</a></li>
