<div class="sidebar">
  <div class="gadget">
    <h2 class="star">Sidebar Menu</h2>
    <ul class="sb_menu">
        <li><a href="/express-rest">Home</a></li>
        <li><a href="http://github.com/laurie71/express-rest/">xRest on GitHub</a></li>
        <li><a href="http://expressjs.com/">ExpressJS</a></li>
        <li><a href="http://nodejs.org/">NodeJS</a></li>
    </ul>
  </div>
<!--
  <div class="gadget">
    <h2 class="star">Sponsors</h2>
    <ul class="ex_menu">
      <li><a href="http://www.dreamtemplate.com" title="Website Templates">DreamTemplate</a><br />Over 6,000+ Premium Web Templates</li>
      <li><a href="http://www.templatesold.com" title="WordPress Themes">TemplateSOLD</a><br />Premium WordPress &amp; Joomla Themes</li>
      <li><a href="http://www.imhosted.com" title="Affordable Hosting">ImHosted.com</a><br />Affordable Web Hosting Provider</li>
      <li><a href="http://www.dreamstock.com" title="Stock Photos">DreamStock</a><br />Download Amazing Stock Photos</li>
      <li><a href="http://www.evrsoft.com" title="Website Builder">Evrsoft</a><br />Website Builder Software &amp; Tools</li>
      <li><a href="http://www.myvectorstore.com" title="Stock Icons">MyVectorStore</a><br />Royalty Free Stock Icons</li>
    </ul>
  </div>
-->
</div>
