<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Design by http://www.bluewebtemplates.com
Released for free under a Creative Commons Attribution 3.0 License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>xRest: Restful Routing for Express</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="./style.css" rel="stylesheet" type="text/css" />
<!-- CuFon: Enables smooth pretty custom font rendering. 100% SEO friendly. To disable, remove this section -->
<script type="text/javascript" src="./js/cufon-yui.js"></script>
<script type="text/javascript" src="./js/arial.js"></script>
<script type="text/javascript" src="./js/cuf_run.js"></script>
<!-- CuFon ends -->
</head>
<body>
<a href="https://github.com/laurie71/express-rest"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://assets1.github.com/img/30f550e0d38ceb6ef5b81500c64d970b7fb0f028?repo=&url=http%3A%2F%2Fs3.amazonaws.com%2Fgithub%2Fribbons%2Fforkme_right_orange_ff7600.png&path=" alt="Fork me on GitHub"></a>
<div class="header">
  <div class="header_resize">
    <div class="logo"><h1><a href="./index.html"><small>One Router to Rule Them All</small><br/><span>xRest</span> for Express</a></h1></div>
    <div class="menu_nav">
      <ul>
          {% include section-links.html %}
      </ul>
    </div>
    <div class="clr"></div>
  </div>
</div>
<div class="main">
    <div class="content">
      <div class="content_resize">
          <div class="mainbar">
{{ content }}
          </div>
{% include sidebar.html %}
          <div class="clr"></div>
        </div>
      </div>
    <div class="fbg">
      <div class="fbg_resize">
<!--
        <div class="col c1">
          <h2>Image Gallery</h2>
          <a href="#"><img src="./images/pix1.jpg" width="66" height="66" alt="ad" class="ad" /></a>
          <a href="#"><img src="./images/pix2.jpg" width="66" height="66" alt="ad" class="ad" /></a>
          <a href="#"><img src="./images/pix3.jpg" width="66" height="66" alt="ad" class="ad" /></a>
          <a href="#"><img src="./images/pix4.jpg" width="66" height="66" alt="ad" class="ad" /></a>
          <a href="#"><img src="./images/pix5.jpg" width="66" height="66" alt="ad" class="ad" /></a>
          <a href="#"><img src="./images/pix6.jpg" width="66" height="66" alt="ad" class="ad" /></a>
          <div class="clr"></div>
        </div>
        <div class="col c2">
          <h2>About</h2>
          <img src="./images/white.jpg" width="66" height="66" alt="pix" />
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius.<br />
            llorem, eu posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum odio, ac blandit ante orci ut diam.<br />
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna.<br />
            <a href="#">Learn more...</a></p>
        </div>
        <div class="col c3">
          <h2>Contact</h2>
          <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat.</p>
          <p><strong>Phone:</strong> +1234567<br />
            <strong>Address:</strong> 123 TemplateAccess Rd<br />
            <strong>E-mail:</strong> <a href="mailto:info@example.com">info@example.com</a></p>
        </div>
-->
        <div class="clr"></div>
      </div>
    </div>
    <div class="footer">
      <div class="footer_resize">
        <ul class="fmenu">
            {% include section-links.html %}
        </ul>
        <p class="lf">&copy; Copyright MyWebSite. Designed by Blue <a href="http://www.bluewebtemplates.com">Website Templates</a></p>
        <div class="clr"></div>
      </div>
    </div>
</div>
</body>
</html>
